.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}


#role-table td>p {
    text-align: center;
}

#role-table td:first-child>p {
    text-align: start;
}

.so-banner {
    background-color: #ffffdf;
    border: 1px solid black;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}